<!DOCTYPE html>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        input[type=text] {
            background: transparent;
            border: none;
            border-bottom: 1px solid #000000;
        }
    </style>
</head>
<body>
<form method="POST" action="/search">
    A: <input type="text" name="A" value="Bangkok">
    B: <input type="text" name="B" value="Thailand">
    C: <input type="text" name="C" value="Havana">
    D: <input type="text" name="D" value="Cuba">
    <button type="submit">submit</button>
    <br>
    <form method="POST" action="/search">
        A: <input type="text" name="A" value="comfortable">
        B: <input type="text" name="B" value="uncomfortable">
        C: <input type="text" name="C" value="clear">
        D: <input type="text" name="D" value="unclear">
        <button type="submit">submit</button>
        <br>
        <form method="POST" action="/search">
            A: <input type="text" name="A" value="glass">
            B: <input type="text" name="B" value="shatter">
            C: <input type="text" name="C" value="rubber">
            D: <input type="text" name="D" value="bounce">
            <button type="submit">submit</button>
            {% if result %}
            <table align="center" style="width:100%">
                <tr>
                    <th>Model</th>
                    <th>Model Answer for B</th>
                    <th>Score</th>
                    <th>Rank</th>
                    <th>Our Answer</th>
                    <th>Score</th>
                    <th>Rank</th>
                    <th>Model Sentence</th>
                    <th>Our Sentence</th>
                </tr>
                {% for item in result['B'] %}
                <tr>
                    <td>{{ item['model'] }}</td>
                    <td>{{ item['topD'] }}</td>
                    <td>{{ item['topDScore'] }}</td>
                    <td>{{ item['topDRank'] }}</td>
                    <td>{{ item['trueD'] }}</td>
                    <td>{{ item['trueDScore'] }}</td>
                    <td>{{ item['trueDRank'] }}</td>
                    <td>{{ item['topDSentence'] }}</td>
                    <td>{{ item['trueDSentence'] }}</td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <table align="center" style="width:100%">
                <tr>
                    <th>Model</th>
                    <th>Model Answer for D</th>
                    <th>Score</th>
                    <th>Rank</th>
                    <th>Our Answer</th>
                    <th>Score</th>
                    <th>Rank</th>
                    <th>Model Sentence</th>
                    <th>Our Sentence</th>
                </tr>
                {% for item in result['D'] %}
                <tr>
                    <td>{{ item['model'] }}</td>
                    <td>{{ item['topD'] }}</td>
                    <td>{{ item['topDScore'] }}</td>
                    <td>{{ item['topDRank'] }}</td>
                    <td>{{ item['trueD'] }}</td>
                    <td>{{ item['trueDScore'] }}</td>
                    <td>{{ item['trueDRank'] }}</td>
                    <td>{{ item['topDSentence'] }}</td>
                    <td>{{ item['trueDSentence'] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </form>
</body>
</html>